html {
  height: 100%;
}

// ------------------------------------------------------------------------
// ------------------------------------ STARTPAGE -------------------------
// ------------------------------------------------------------------------

body {
  position: relative;
  background-color: rgba($color: #CBCBC9, $alpha: 0.2);
  font-family: raleway;
  font-size: 0.8rem;
  line-height: 1.4;
  text-align: center;
  z-index: 0;
  margin: 0;
}
img { 
  width: 100%; 
  height: auto; 
  display: block; 
}
a {
  color: black;
}
p {
  margin: 0 auto;
}
.start {
  position: absolute;
  top: 0;
  left: 0;
  height: 1700px;
  width: 100%;
  background: linear-gradient(165deg, #EAE5DC 0%, #EAE5DC 26%, transparent 26%);
  z-index: 1;
  padding: 0;
  margin: 0;
}
header {
  position: relative;
  padding: 50px 70px 10px 70px;
  margin: 0 auto;
  text-align: center;
  z-index: 2;
  font-size: 0.85rem;
  font-weight: 600;
}
section {
  position: relative;
  padding: 0px 60px;
  z-index: 2;
}
article {
  padding-top: 15px;
}
figure {
  max-width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.start-tove {
  line-height: 1;
  p {
    font-size: 0.9rem;
    text-align: center;
    line-height: 1rem;
    font-weight: 700;
  }
}
.contact {
  padding-top: 15px;
  a {
    text-decoration: none;
  }
}
a:hover {
  font-weight: 600;
}
.icon-area {
  width: 100px;
  height: 80px;
  position: relative;
}
.fa-chevron-right:before {
  padding: 20px;
  position: absolute;
  left: -20px;
  top: -10px;
}
.portfolio {
  padding: 20px 0px;
}
.column1 {
  padding-bottom: 30px;
}

// ------------------------------------------------------------------------
// ------------------------------------ PORTFOLIO -------------------------
// ------------------------------------------------------------------------

.content-mobileonly {
  padding: 0px 60px 20px 60px;
}
.portfolio {
  background-color: white;
  margin-top: 50px;
}
.portfolio-container {
  display: grid;
  justify-content: center;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  margin: 0 auto;
  padding: 10px;
  overflow: hidden;
  max-width: 100%;
  gap: 3px 3px;
  position: relative;
}
.portfolio-item1 {
  position:relative;
  grid-area: 1 / 1 / 3 / 3;
}
.portfolio-item2 {
  position: relative;
  grid-area: 3 / 1 / 4 / 2;
}
.portfolio-item3 {
  position: relative;
  grid-area: 3 / 2 / 4 / 3;
}
.portfolio-item4 {
  position: relative;
  grid-area: 4 / 1 / 6 / 3;
}
.portfolio-item5 {
  position: relative;
  grid-area: 6 / 1 / 7 / 2;
}
.portfolio-item6 {
  position: relative;
  grid-area: 6 / 2 / 7 / 3;
}
.portfolio-item7 {
  position: relative;
  grid-area: 7 / 1 / 9 / 3;
}
.portfolio-item8 {
  position: relative;
  grid-area: 9 / 1 / 10 / 2;
}
.portfolio-item9 {
  position: relative;
  grid-area: 9 / 2 / 10 / 3;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: .5s ease;
  background-color: #BC9325;
  cursor: pointer;
}
.popover:hover .overlay {
  opacity: 1;
  bottom: 0;
}
.text {
  color: white;
  font-size: 0.8rem;
  font-weight: 500;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  span {
    font-weight: 700;
    font-size: 0.9rem;
    padding-bottom: 5px;
  }
  p {
    text-align: center;
    padding-top: 10px;
  }
}

// ------------------------------------------------------------------------
// ------------------------------ RESUME & SKILLS -------------------------
// ------------------------------------------------------------------------

.resume {
  background-color: #EAE5DC;
  padding-top: 30px;
}
table {
  border-spacing: 10px;
  margin-left: auto;
  margin-right: auto;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  li span {
    font-weight: 600;
  }
}
.resume-resume span {
  font-weight: 700;
  padding-top: 10px;
}
.resume-resume p {
  padding-top: 5px;
}
.resume-key span {
  color: #BC9325;
}
.circle {
  margin: 0 auto;
  padding-top: 20px;
}
  
// ------------------------------------------------------------------------
// -------------------------------- FOOTER --------------------------------
// ------------------------------------------------------------------------

footer {
  position: absolute;
  z-index: 2;
  right: 50px;
  bottom: 50px;
  margin-bottom: 0;
  overflow: hidden;
}

// ------------------------------------------------------------------------
// -------------------------------- MEDIA QUERIES -------------------------
// ------------------------------------------------------------------------

@media screen and (max-width: 799px) {
  .start-portfolio  {
      visibility: hidden;
      display: none;   
  }
  .start-resume {
    visibility: hidden;
    display: none;
  }
  footer .contact {
    visibility: hidden;
    display: none;   
  }
}

@media screen and (min-width: 900px) {
  .content-mobileonly  {
      visibility: hidden;
      display: none;   
  }
}